.outer {
  margin: 20rem 0 0 0;
  padding: 0 10%;
  @include sp {
    padding: 0 5%;
    margin: 10rem 0 0 0;
  }
}

.underouter {
  padding: 0 10%;
  position: relative;
  @include sp {
    padding: 0 5%;
  }
}

.ttl01 {
  font-size: 5rem;
  color: $color-black;
  font-family: 'Caveat', cursive;
}

.ttl02 {
  font-size: 1.5rem;
  color: $color-black;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
