.footer {
  width: 100%;
  padding: 20rem 0;
  position: relative;
  padding-left: 10%;
  .grovalnav {
    margin-top: 5rem;
    ul {
      padding: 0;
      li {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .googlemaps {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    // padding-right: 20%;
  }
}
