$pc: 1024px;
$tab: 768px;
$sp: 480px;

$color-black: #343434;
$color-white: #ffffff;
$color-gray: #f1f1f1;
$color-darkgray: #bababa;
$color-dark: #5b5b5b;
$color-pink: #bf476d;

$color-orange: #ffe8a6;
$color-purple: #8e44ad;
$color-green: #16a085;
$color-yellow: #e0dd0a;
